html {
    background-color: #eee;
    font-family: "Trebuchet MS";
}

body {
	padding: 10px;
}

p { /*title phrase*/
	color: #778899; /*gray*/
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.word {
	color: #0066FF;
}

.synonym {

}

.synonym:hover {
	color: #9966FF;
	cursor: pointer;
}

.wordTreeWord {
	color: #9966FF;
	padding: 3px;
}